@font-face {
  font-family: 'Untitled Sans';
  src: url('../fonts/UntitledSans/Untitled-Sans-Light.woff2') format('woff2'),
       url('../fonts/UntitledSans/Untitled-Sans-Light.woff') format('woff'),
       url('../fonts/UntitledSans/Untitled-Sans-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('../fonts/UntitledSans/Untitled-Sans-Regular.woff2') format('woff2'),
       url('../fonts/UntitledSans/Untitled-Sans-Regular.woff') format('woff'),
       url('../fonts/UntitledSans/Untitled-Sans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('../fonts/UntitledSans/Untitled-Sans-Medium.woff2') format('woff2'),
       url('../fonts/UntitledSans/Untitled-Sans-Medium.woff') format('woff'),
       url('../fonts/UntitledSans/Untitled-Sans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('../fonts/UntitledSans/Untitled-Sans-Bold.woff2') format('woff2'),
       url('../fonts/UntitledSans/Untitled-Sans-Bold.woff') format('woff'),
       url('../fonts/UntitledSans/Untitled-Sans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

